#div2
	{
		margin:auto;
		background:#FFF;
		width:250px;
		height:250px;
		margin-top:100px;
		opacity:0.8;
		filter:alpha(opacity=70);
		-moz-opacity:0.5;
		border-radius:5px;
		
	}
	#btn:hover {
		
		color:#6CC;}
		
		#ekle{
			align:center;
			margin-top:30px;}